-i https://pypi.org/simple
certifi==2026.6.17; python_version >= '3.7'
charset-normalizer==3.4.9; python_version >= '3.7'
idna==3.18; python_version >= '3.9'
requests==2.34.2; python_version >= '3.10'
urllib3==2.7.0; python_version >= '3.10'
