-i https://pypi.org/simple
certifi==2026.5.20; python_version >= '3.7'
charset-normalizer==3.4.7; python_version >= '3.7'
idna==3.17; python_version >= '3.9'
requests==2.34.2; python_version >= '3.10'
urllib3==2.7.0; python_version >= '3.10'
